body {
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

a {
  color: white;
}
.site-wrapper {
  min-width: 940px;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
/*
  Хедер
*/


/* Псевдоэлементы с изображениями нужны только для предзагрузки картинок, чтобы они уже были в кеше в момент переключения слайдов и сразу отображались */

.site-wrapper:before,
.site-wrapper:after {
  content: "";
  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url("slide-1.png");
}

.site-wrapper:after {
  background-image: url("slide-2.png");
}

.container {
  width: 860px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-header {
  position: relative;
  margin-bottom: 20px;
}


.h1 {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 35px;
  line-height: 41px;
  font-weight: bolder;

}

.logo {
  float: left;
  width: 154px;
  margin-top: 10px;
  }

.logo a {
  display: block;
}

.main-navigation {
  float: left;
  padding: 0px;
  margin-left: 30px;
  margin-top: 28px;

}

.main-menu {
  padding: 0px;
  margin: 0px;

}

.main-menu li{
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: bold;
  display: inline;
  margin-right: 27px;
}

.main-menu li:nth-child(3n){
  margin-right: 0px;
}

.user-block{
  float: right;
  margin-top: 23px;
  font-size: 0px;

}


.search, .login, .basket{
  display: inline-block;

}

.btn-search{
  display: inline-block;
  background: rgba(255, 255, 255, 0.2) url("/img/search.png") no-repeat 50% 50%;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  text-indent: -1000px;
}

.search-popup{
  display: none;
}

.btn-login{
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  padding-left: 43px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 12px;
  background: rgba(255, 255, 255, 0.2) url("/img/login.png") no-repeat 16px 50%;
  border-radius: 100px;
  vertical-align: top;
    height: 11px;
  text-decoration: none;
  }

.btn-basket{
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  padding-left: 43px;
  padding-right: 34px;
  padding-top: 10px;
  padding-bottom: 12px;
  background: rgba(255, 255, 255, 0.2) url("/img/basket.png") no-repeat 16px 50%;
  border-radius: 100px;
  vertical-align: top;
  height: 11px;
  text-decoration: none;
  }



.catalog-popup{
  display: none;
}

.catalog-popup {
  display: none;
}

.login-popup{
  display: none;
}

.forgot-password {
  display: none;
}


.new-registration {
  display: none;
}

.basket-popup{
  display: none;
}

.header-contacts{
  position: absolute;
  top: 75px;
  right: 20px;
  text-align: right;
}

.header-contacts p {
  margin: 0px;
  padding: 0px;

}
.shedule {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 9px;
}

.phone {
  font-size: 22px;
  font-weight: bolder;
  color: white;
}

/*
  Контент
*/


/* слайдер */
.slider {
  position: relative;
  padding-top: 320px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("/img/slider-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("/img/slider-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("/img/slider-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

/* слайдер */


.promo {
  font-size: 0px;
  margin-bottom: 40px;


}
.promo h2{
  margin: 0px;
  margin-bottom: 15px;
  padding: 0px;
  color: #fff;
  font-size: 35px;
  line-height: 41px;
}

.promo p {
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 20px;
}

.promo-item-left {
  padding: 20px;
  float: left;
  width: 380px;
  background: rgba(145, 44, 44, 0.85) url("/img/malina.png");
  border-radius: 10px;
}

.promo-item-right {
  padding: 20px;
  float: left;
  width: 380px;
  margin-left: 20px;
  background: rgba(37, 45, 51, 0.88) url("/img/chocolate.png");
  border-radius: 10px;
}

.promo-btn {
  display: inline-block;
  float: right;
  margin-top: 0px;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.promo-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.promo-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


.breadcrumbs ul{
  font-size: 0px;
  display: inline-block;
  padding: 0px;
  margin-bottom: 10px;
  color: white;
  vertical-align: middle;

}
.breadcrumbs li{
  font-size: 14px;
  display: inline;
}

.cat-filters {
  font-size: 0px;
  margin-bottom: 50px;
}
.sort-by,
.sort-price,
.sort-fat,
.btn-submit,
.sort-extender{
  display: inline-block;
  font-size: 12px;
  margin-right: 40px;
}

.sort-extender-checkbox,
.sort-fat-radio {
  margin-right: 20px;
}
.sort-fat-block,
.sort-extender-block,
.btn-submit,
.sort-price-block,
.sort-by-block{
  background: rgba(2,2,2,0.2);
  padding-left: 20px;
  padding-right: 20px;
}

.sort-fat-radio,
.sort-extender-checkbox,
.btn-submit,
.sort-price-block,
.sort-by-block{
  display: inline;
}

.features {
  font-size: 0px;
  background: rgb(253, 240, 240) url("/img/Layer 1.png") ;
  border-radius: 10px;
  padding: 30px 20px;
  margin-bottom: 40px;
}

.features-header {
  font-size: 24px;
  line-height: 30px;
}

.features-item {
  width: 400px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 40px;
  vertical-align: top;

}

.features-item:nth-child(2n+1){
  margin-right: 0px;
}

.features-image{
  float: left;
  width: 50px;
}

.features-desc{
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
  font-size: 16px;
  line-height: 22px;
  margin-left: 60px;
  width: 340px;
}

.products{
  font-size: 0px;

}

.product-item {
  display: inline-block;
  position: relative;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 40px;
  vertical-align: top;
}

.product-item:nth-child(4n) {
  margin-right: 0px;
}

.product-hit {
  background-image: url("/img/hit.png");
  width: 61px;
  height: 61px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.product-image {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.product-price {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  top: 145px;
  left: 0px;
}

.product-name {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

.btn-quick-view {
  display: none;
}

.paginator{
  float: right;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 0px;
}

.paginator .prev {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("/img/prev.png") no-repeat 50% 50%;
}

.paginator .next {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("/img/next.png") no-repeat 50% 50%;
}

.paginator a {
  font-size: 16px;
  line-height: 25px;
  display: inline-block;
  width: 25px;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.active {
  color: black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
}

.blog-and-subscribe {
  font-size: 0px;
  margin-bottom: 40px;
}

.blog {
  width: 380px;
  height: 180px;
  font-size: 16px;
  background: rgba(2,2,2,0.4);
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  padding: 20px;
}

.subscribe {
  width: 406px;
  background: url("/img/mail-pattern.jpg");
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  padding: 7px;
}

.subscribe-bacground {
  background: #f8f7f4;
  border-radius: 10px;
  min-height: 180px;
  font-size: 16px;
  padding: 10px;
}

.subscribe-bacground p {
  margin: 0px;
  padding: 0px;
}


.map{
  position: relative;
  margin-bottom: 40px;

}
.map-description {
  width: 260px;
  height: 265px;
  padding: 20px;
  position: absolute;
  top: 60px;
  left: 560px;
  background-color: rgba(85, 55, 15, 0.18);
}

.feedback{
  display: none;
}

/*
  Футер
*/

.main-footer {
  position: relative;
  margin-bottom: 30px;
}

.devide {
  margin-bottom: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
  float: left;
  font-size: 0px;
}

.social-btn {
  margin-right: 12px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.5);
  width: 39px;
  height: 39px;
  text-indent: -1000px;
}

.social-btn:nth-child(4) {
  margin-right: 0px;
}

.social-btn-tw {
  background:  url("/img/twitter.png") no-repeat 50% 50%;
}

.social-btn-inst {
  background:  url("/img/instagram.png") no-repeat 50% 50%;
}

.social-btn-fb {
  background:  url("/img/fb.png") no-repeat 50% 50%;
}

.social-btn-vk {
  background:  url("/img/vk.png") no-repeat 50% 50%;
}

.footer-menu {
  float: left;
  margin-left: 94px;
  font-size: 0px;
  position: relative;
}

.footer-menu ul {
  float: left;
  padding: 0px;
  margin: 0px;
  margin-right: 2px;
  list-style-type: none;
  font-size: 13px;
  line-height: 18px;
  font-weight: 100;
  color: white;
}

.menu-left li{
  margin-right: 30px;
}

.menu-left li:nth-child(2n) {
  margin-right: 30px;
  font-weight: 900;
}
.love {
  position: absolute;
  width: 15px;
  height: 13px;
  background:  url("/img/love.png") no-repeat 50% 50%;
  left: -22px;
  top: 3px;
}

.footer-copyright {
  float: right;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 12px;
  color: white;
}


.footer-copyright p {
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
}

/* Clearfix */

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
