body {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-family: "Roboto";
  background-color: #849d8f;
}

h2 {
  font-size: 35px;
}

h1 {
  font-size: 24px;
}

a {
  color: white;
}

/*
  Хедер
*/
.container {
  width: 860px;
  margin: 0px auto;
}

.logo {
  float: left;
  width: 154px;
  background: rgba(155,151,56,0.5);

}

.main-navigation {
  float: left;
  margin-left: 20px;
  background: rgba(155,151,56,0.5);
}

.main-menu li{
  display: inline;
  margin-right: 20px;
}

.user-block{
  float: right;
  background: rgba(155,151,56,0.5);
}

.search, .login, .basket{
  display: inline-block;
}

.search-popup{
  display: none;
}

.catalog-popup {
  display: none;
}

.login-popup{
  display: none;
}

.forgot-password {
  display: none;
}


.new-registration {
  display: none;
}

.basket-popup{
  display: none;
}

.header-contacts{
  float: right;
  background: rgba(155,151,56,0.5);
  margin-top: 20px;
  text-align: right;
}


/*
  Контент
*/
.slider-caption {
  text-align: center;
}
.slider-btn {
  text-align: center;
}

.slider-pagination {
  width: 100px;
  float: left;
}
.slider-pagination ul {
}
.slider-pagination li {
  display: inline;
}

.promo{
  font-size: 0px;
  margin-bottom: 40px;
}

.promo-item-left{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  display: inline-block;
  width: 380px;
  height: 229px;
  background: url(/img/malina.png);
}

.promo-item-right{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  width: 380px;
  height: 229px;
  display: inline-block;
  margin-left: 20px;
  background: url(/img/chocolate.png);
}

.promo-button{
  float: right;
  font-size: 20px;
}

.breadcrumbs ul{
  background: rgba(155,151,56,0.5);
  font-size: 0px;
  display: inline-block;

}
.breadcrumbs li{
  font-size: 13px;
  display: inline-block;
}

.cat-filters {
  font-size: 0px;
  margin-bottom: 50px;
}
.sort-by,
.sort-price, .sort-fat, .sort-extender{
  display: inline-block;
  font-size: 12px;
  margin-right: 40px;

}

.sort-extender-checkbox, .sort-fat-radio {
  margin-right: 20px;
}
.sort-fat-block, .sort-extender-block, .btn-submit, .sort-price-block, .sort-by-block{
  background: rgba(155,151,56,0.5);
  padding-left: 20px;
  padding-right: 20px;
}

.sort-fat-radio, .sort-extender-checkbox, .btn-submit, .sort-price-block, .sort-by-block{
  display: inline;
}

.features{
  font-size: 0px;
}

.features-header{
  padding-left: 20px;
  padding-top: 20px;
}

.features-item{
  font-size: 14px;
  width: 400px;
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 40px;
  vertical-align: top;
}

.features-item:nth-child(2n+1){
  margin-right: 0px;
}

.features-image{
  float: left;
  width: 50px;
}

.features-desc{
  margin-left: 60px;
  width: 340px;
}


.products{
  font-size: 0px;
}

.product-item {
  display: inline-block;
  width: 200px;
  font-size: 15px;
  margin-right: 20px;
  margin-bottom: 40px;
  position: relative;
  vertical-align: top;

}

.product-item:nth-child(4n) {
  margin-right: 0px;
}

.product-item .product-image {
  width: 200px;
  height: 200px;
}

.product-item .product-price {
  font-size: 26px;
  font-weight: 800;
  position: absolute;
  top: 145px;
  left: 0px;
}

.product-item .product-hit {
  font-size: 26px;
  font-weight: 800;
  position: absolute;
  top: 10px;
  left:
    0px;
}

.product-item .product-name {
  display: inline-block;
  text-align: center;
}

.product-item .btn-quick-view {
  display: none;
}

.cat-pagination{
  float: right;
  background: rgba(2,2,2,0.4);
}
.cat-pagination li {
  display: inline;
}


.clearfix:after{
  content:'';
  display:table;
  clear:both;
}


/*
  Футер
*/




.footer-social{
  float: left;
}

.footer-menu{
  float: left;
}

.footer-menu ul {
  display: inline-block;
  font-size: 0px;
}

.main-footer li {
  font-size: 12px;
}


.footer-copyright {
  float: right;
  width: 189px;
  font-size: 12px

}
.footer-logo {
  width: 108px;
  height: 38px;
}


